<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Juego</title>
<script type="text/javascript" src="/static/libs/jquery.min.js"></script>
<script type="text/javascript" src="/static/libs/three.min.js"></script>
<script type="text/javascript" src="/static/libs/stats.min.js"></script>
<script type="text/javascript" src="/static/libs/physi.js"></script>
<script type="text/javascript" src="/static/libs/TrackballControls.js"></script>
<script src='/static/libs/THREEx.WindowResize.js'></script>
<script type="text/javascript" src="/static/game/Tech.js"></script>
<script type="text/javascript" src="/static/juego.js"></script>
<script type="text/javascript" src="/static/game/base.js"></script>
<script type="text/javascript" src="/static/game/obstacle.js"></script>
<script type="text/javascript" src="/static/game/ship.js"></script>
</head>
<body>

</body>
</html>